<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>530789874151-2k61l5jmd7h30e10g8028oojh5ug3j1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530789874151-2k61l5jmd7h30e10g8028oojh5ug3j1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCR80n2J1plvqBbJoDIccCJTMhvrFFrB8o</string>
	<key>GCM_SENDER_ID</key>
	<string>530789874151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayjs.ticket-mate</string>
	<key>PROJECT_ID</key>
	<string>ayjs-ticket-mate</string>
	<key>STORAGE_BUCKET</key>
	<string>ayjs-ticket-mate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530789874151:ios:9ebadd85393d7e93</string>
	<key>DATABASE_URL</key>
	<string>https://ayjs-ticket-mate.firebaseio.com</string>
</dict>
</plist>